body {
    background-color: #c0c0c0;
}

#container {
    margin: 0 auto;
    border-radius: 10px;
    background: white;
    height: 340px;
    width: 650px;
}

#controls {
    float: left;
    top: 8em;
    padding-left: 5em;
    position: relative;
    width: 185px;
}
.control_row {
    width: 150px;
}
.control_cell {
    width: 2em;
    display: inline-block;
}

#bucket_container {
    float: left;
    width: 150px;
    height: 300px;
    text-align: center;
}
#main_bucket {
    margin: 0 auto;
    width: 110px;
    height: 220px;
    border: 1px solid black;
    border-top: 0px solid black;
    position: relative;
    top: 50px;
}
.square {
    width: 10px;
    height: 10px;
    border: 1px solid #707070;
    position: absolute;
    background-color: gray;
}
.square.colour_green {
    background: green;
    border: 1px solid #505050;  /* The grey borders are a little hard to see with the green. */
}
.square.colour_red {
    background: red;
}
.square.colour_blue {
    background: blue;
}
.square.colour_yellow {
    background: yellow;
}
.square.colour_orange {
    background: orange;
}
.square.colour_pink {
    background: #ff00ff;
}
.square.colour_cyan {
    background: #00ffff;
}

#game_over {
    display: none;
    background-color: red;
    color: white;
    padding: 10px;
    position: relative;
    margin: 25%;
    z-index: 10;
    opacity: 0.8;
    border-radius: 5px;
}
#game_over.swoop {
    display: inline-block;
    -webkit-animation: swoop_in 2s; /* Chrome, Safari, Opera */
    animation: swoop_in 2s;
    -webkit-animation-fill-mode: forwards; /* Chrome, Safari, Opera */
    animation-fill-mode: forwards;
}

#settings {
    float: left;
    width: 200px;
    top: 40px;
    position: relative;
    margin-left: 10px;
    margin-top: 75px;
}
#score {
    display: inline-block;
    width: 4em;
    background: orange;
    text-align: center;
    border-radius: 2px;
}
#start_container {
    margin-top: 50px;
}
#start, #quit {
    position: relative;
}
#start.in_progress,
#quit.stopped {
    -webkit-animation: swoop_sideways 1s; /* Chrome, Safari, Opera */
    animation: swoop_sideways 1s;
    -webkit-animation-fill-mode: forwards; /* Chrome, Safari, Opera */
    animation-fill-mode: forwards;
}
#start.stopped,
#quit.in_progress {
    -webkit-animation: swoop_sideways 1s; /* Chrome, Safari, Opera */
    animation: swoop_sideways 1s;
    -webkit-animation-fill-mode: reverse; /* Chrome, Safari, Opera */
    animation-fill-mode: reverse;
    -webkit-animation-direction: reverse; /* Chrome, Safari, Opera */
    animation-direction: reverse;
}


/* Chrome, Safari, Opera */
@-webkit-keyframes swoop_in {
    from {bottom: 100px;}
    to {bottom: 0px;}
}

/* Standard syntax */
@keyframes swoop_in {
    from {bottom: 100px;}
    to {bottom: 0px;}
}


/* Chrome, Safari, Opera */
@-webkit-keyframes swoop_sideways {
    from {left: 0px;}
    to {left: 125px; opacity: 0;}
}

/* Standard syntax */
@keyframes swoop_sideways {
    from {left: 0px;}
    to {left: 125px; opacity: 0;}
}

@media screen and (max-width: 720px) {
    #controls {
        display: none;
    }
    #container {
        width: 395px;
    }
    #main_bucket {
        margin-left: 20px;
    }
    #settings {
        margin-left: 30px;
    }
}
@media screen and (max-width: 430px) {
    #container {
        width: 225px;
        height: 470px;
    }
    #settings {
        margin-top: 0;
    }
    #start_container {
      margin-top: 0;
    }
    #bucket_container {
        width: 220px;
    }
    #main_bucket {
        margin: 0px auto;
    }
}
